
temp/
logs/
*.log
*.cache
build/

.env
.DS_Store
backup-*.zip
pic 1 
pic 2
pic 3 


##  **GitHub Contribution**

<p align="center">
  <img src="https://raw.githubusercontent.com/YasirAwan4831/YasirAwan4831/output/snake.svg" />
</p>

<!-- Profile Views + Followers -->
<p align="center">
  <img src="https://komarev.com/ghpvc/?username=YasirAwan4831&label=Profile%20Views&color=blue&style=flat" />
  <img src="https://img.shields.io/github/followers/YasirAwan4831?label=Followers&style=flat&color=blue" />
</p>


## 🏆 GitHub Trophies

<p align="center">
  <img src="https://github-profile-trophy.vercel.app/?username=YasirAwan4831&theme=algolia" />
</p>